.search {
  padding: 16px;
  width: 17px;
  color: rgba(235, 129, 30, 0.999);
}

.input {
  border: none;
  outline: none;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: inherit;
  color: rgba(235, 129, 30, 0.999);
}